<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Conecta Bairro{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>Conecta Bairro</h1>
    <p>Gestão simples para pequenos comércios</p>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>Conecta Bairro — MVP Acadêmico</p>
</footer>

</body>
</html>